body{
    margin-top: 0;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(40, 36, 48, 0.779);
    background-image: url(fon1.gif);
    background-size: 100%;
}
.h1{ 
    background-color: rgba(0, 0, 0, 0.351);
}
.text1{
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    margin-right: 600px;
}
.text2{
    background-color: rgba(198, 189, 189, 0.523);
    border-style: ridge;
}
.text3{
    background: rgba(198, 189, 189, 0.523);
    display: flex;
    justify-content: center;
    border-style: dashed;
}
.img1{
    display: flex;
    align-items: center;
}
